body{
    background-color:#D9E9ED;
    margin:0;
    height:100vh;
}
.mainContainer{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    height:100vh;
}
footer, header{
    background-color:darkcyan;
    color:white;
    width:100%;
}

.scoreContainer, .footerContainer{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
}
.p1Div, .p2Div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin:10px;
}
.pImgX, .pImgO{
    margin:0 10px;
    font-size:24px;
}
input, .newGame {
    background-color: rgb(42, 92, 98); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    height:30px;
}
.p1Div p, .p2Div p{
    margin:0 10px;
    font-size:24px;

}
.grid{

    display:flex;
    flex-flow:row wrap;
    width:80vw;
    height:80vw;
    max-width:600px;
    max-height:600px;

    
    background-image: url('../img/grid.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.grid div{
    box-sizing:border-box;
    background-color: transparent;
    width:calc(100% / 3);
    height:calc(100% / 3);
}
footer{
    display: flex;
    justify-content:center;
    align-items:center;
    height:5vh;

}
@media(max-width:684px){
    .p2Div{
        flex-direction:row-reverse;
    }
}