body{
    background-color:#D9E9ED;
}

/* .mainContainer{
    background-color:gray;
    width: 50%;
    height: 50%;
}*/
.grid{
    display:flex;
    flex-flow:row wrap;

    width: 165px;
    margin:auto;
    background-color:black;
}
.grid div{
    background-color:white;
    margin:2.5px;
    padding:25px;
    width: fit-content;

}
